<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
      style="background-image: url('./assets/img/air-polution.jpg');">
      <div class="filter"></div>
    </div>
<div class="container">
    <div class="blog-title-area mb-1">
        <h3>What Is Indoor Air Pollution?</h3>
        <div class="blog-content">
            <div class="pp">
                It states to the physical, chemical, and biological appearances of air in the indoor atmosphere within a
                home, building,
                an organization, commercial facility, etc. Indoor air quality (IAQ) is the air quality within and around
                buildings and
                structures. Poor IAQ is known to affect the health, comfort, and well-being of house residents.
            </div>
        </div>
        <div class="blog-meta big-meta"><small><a>05 Nov, 2019</a></small><small><a>by
                    Freekagyan online</a></small><small><a><i class="fa fa-eye"></i>
                    2344</a></small></div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.4cb.online/blogs" target="_blank"
            class="fb-button btn btn-primary ml-1 mr-1"><i class="fa fa-facebook"></i> <span class="down-mobile">Share
                on Facebook</span></a>
        <a href="https://twitter.com/share?url=https://www.4cb.online/blogs" target="_blank"
            class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet
                on Twitter</span></a>

    </div>
    <a class="single-post-media" href="/assets/images/air-polution.jpg" target="_blank">
        <figure>
            <img src="assets/img/air-polution.jpg"
                alt="Air Poluttion in Delhi/Noida/Greater Noida/Greater Noida West" class="img-fluid">
            <figcaption>Fig - Greater Noida West (NCR), U.P., India</figcaption>
        </figure>
    </a>
    <div class="blog-content">
        <div class="pp">
            <h3><strong>The sources of indoor air pollution are varied.</strong>
            </h3>
            <ul class="check">
                <li><strong>Dust</strong> is the most prevalent pollutant. Pets and people bring in
                    dust, and the more in your
                    home, the more dust you have. Dust is composed of human or pet skin flakes or just
                    the
                    broken down particles of earth or waste found outside.</li>
                <li><strong>Mold, mildew or fungus</strong> are sources of indoor air pollution
                    caused by overly moist
                    conditions. Pollen, pet dander, decaying insect particles and dust mites are also
                    common pollutants.</li>
                <li><strong>Volatile organic chemicals,</strong> or VOCs, may be given off by
                    manufactured products such
                    as carpets, textiles, paint, upholstered furniture, particle board appliances and
                    the chemical products we use for cleaning and home projects.</li>
                <li><strong>Smoke and carbon monoxide </strong>(given off by everything from candles to
                    any appliance
                    powered by internal combustion such as a furnace, water heater or gas stove) are
                    other common pollutants.</li>
            </ul>
        </div>

        <div class="pp">
            <h3><strong>6 Best way to getting rid of indoor air pollution</strong>
            </h3>
            <ul class="check">
                <li><strong>Improve ventilation</strong>. Install a bathroom or kitchen ventilation
                    system where moisture and stale air are exhausted outside. Ask your HVAC provider
                    about installing a whole-house ventilation system that exhausts stale air and brings
                    in fresh air.
                </li>
                <li><strong>Have your home air quality tested.</strong> That’s really the only way you
                    can know if a pollutant such as radon, a naturally occurring gas that may be
                    entering your home from the earth beneath it, is present.</li>
                <li><strong> Reduce your use of chemicals</strong> in the home whenever
                    possible. Study labels before you buy chemicals, and see if there’s a less harmful
                    substance that will do the same job. Keep caps firmly on, and if possible, store
                    away from the living space. Air out dry-cleaned clothing before you bring it in the
                    house.</li>
                <li><strong> Use better quality air filters.</strong> Cheap fiberglass filters will do
                    nothing for your indoor air quality. Better quality pleated filters, with a minimum
                    efficiency reporting value (MERV) of 5 to 8, will not only protect the furnace from
                    dirt, but it will also trap smaller particles that you don’t want to be circulated
                    by your HVAC system into your air. Change the filter at least every three months or
                    more often if there’s a lot of dust, pet dander and other pollutants in your home.
                </li>
                <li><strong><a (click)="scroll(target)" style="color: blue;cursor: pointer;">Use house plants.
                        </a></strong> A number of species of house
                    plants are
                    recommended for their ability to absorb harmful pollutants. Among the best for
                    cleaning the air: English ivy, Gerbera daisy, peace lily and spider plant.</li>
                <li><strong> Install an air cleaner.</strong> A whole-house air cleaner is a substantial
                    investment, but it cleans the home’s entire air. Portable air cleaners must be moved
                    from room to room.</li>
            </ul>
        </div>
        <div class="pp">
            <h3><strong>Types of Air Cleaners</strong></h3>
            <p>High efficiency particulate air (HEPA) is one type of mechanical filtration. HEPA air
                cleaning technology can’t be installed in most typical residential HVAC systems without
                substantial modification to the system because of diminished airflow.</p>
            <ul class="check">
                <li><strong>Electrostatic</strong> air cleaners catch particles on a collecting plate
                    through negatively charged particles.</li>
                <li><strong>Ultraviolet light germicidal irradiation (UVGI)</strong> destroys the DNA of
                    mildew, mold and virus molecules.</li>
                <li><strong>Gas phase c</strong>arbon-activated filters absorb smoke and VOCs.</li>


            </ul>
        </div>
    </div>
    <section class="section wb">
        <div #target>
            <h2>7 Best Indoor Plants For Your Home</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-list clearfix">
                            <ng-container *ngFor="let item of images">
                                <app-stuff-description [stuffDiscripiton]="item"></app-stuff-description>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="blog-title-area">
        <div class="tag-cloud-single"><span>Air Poluttion</span><small><a>Indoor Air
                    Poluttion</a></small><small><a>Social Life</a></small><small><a href="">Earth and
                    Living</a></small><small><a href="">India
                </a></small></div>
    </div>
</div>
</div>