<div class="blog-box row">
    <div class="col-md-4">
        <a class="post-media" [href]="stuffDiscripiton.imagePath._text" target="_blank">
            <img [src]="stuffDiscripiton.imagePath._text" [alt]="stuffDiscripiton.title._text" class="img-fluid" style="max-height:200px;">
        </a><!-- end media -->
    </div><!-- end col -->

    <div class="blog-meta big-meta col-md-8">
        <span class="bg-aqua">{{stuffDiscripiton.title._text}}</span>
        <p>{{stuffDiscripiton.description._text}}</p>
    </div><!-- end meta -->
</div><!-- end blog-box -->
<hr class="invis">
