  .body {
    background: black;
}
  .clock {
    text-align: center;
    width: 96%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#17D4FE;
    font-size: 16px;
    font-family: Orbitron;
    letter-spacing: 6px;  


}