<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/guid_genrator.jpeg');">
    <div class="filter"></div>
  </div>
  <div class="container">
    <div class="w3-col l10 m12">
      <h2>Online GUID Generator</h2>
      <div class="panel panel-default">
        <div class="panel-body row">
          <div class="col-md-12">
            <label for="numOfGuid" class="txt-bold"> Number of GUID ? #Range(1-1000) </label>
            <input type="number" min="001" max="1000" name="numOfGuid" class="ml-2"
              [(ngModel)]="guidGeneratorInput.numOfGuid">
          </div>
          <div class="col-md-12 row">
            <div class="col-md-3"><label for="useUpperCase">Move to Upper Case <input type="checkbox"
                  name="useUpperCase" [(ngModel)]="guidGeneratorInput.useUpperCase"></label></div>
            <div class="col-md-3"><label for="useBraces">Add Braces <input type="checkbox" name="useBraces"
                  [(ngModel)]="guidGeneratorInput.useBraces"></label></div>
            <div class="col-md-3"><label for="useHyphens">Eleminate Hyphens <input type="checkbox" name="useHyphens"
                  [(ngModel)]="guidGeneratorInput.useHyphens"></label></div>
          </div>
          <div class="col-md-12">
            <button (click)="genrateGuid()" class="btn btn-primary"><i class="fa fa-play-circle"></i> Generate</button>
            <button (click)="copyToCB()" class="btn btn-primary ml-1"><i class="fa fa-copy"></i> Copy </button>
          </div>
          <div class="col-md-12 form-group">
            <textarea rows="10" class="mt-2 form-control" #txtConfigFile [(ngModel)]="guidList"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-col l2 m12"></div>
  </div>
</div>